.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  font-size: 16px;

  form {
    gap: 20px;
    .flex-col {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .add-img-upload label {
      display: flex;
      width: max(40%, 280px);
      aspect-ratio: 16/9;

      background: $bg-silver-opacity;
      background-color: goldenrod;
      cursor: pointer;
      border-radius: 4px;
      overflow: hidden;
    }

    .add-img-upload-img {
      width: 100%;
      margin: 1.5px;
      border: solid 1px rgb(55, 55, 55);
      border-radius: 4px;
      object-fit: cover;
    }

    .add-img-upload-icon {
      width: 60px;
      height: 60px;
      margin: auto;
    }
    .add-product-name,
    .add-product-description {
      width: max(40%, 280px);
      input,
      textarea {
        height: fit-content;
        padding: 10px;
        resize: none;
      }
    }
    .add-category-price {
      display: flex;
      gap: 30px;
      select,
      input {
        max-width: 120px;
        color: black;
        padding: 10px;
      }
    }
    .add-btn {
      width: max(120px);
      border: none;
      padding: 15px;
      color: white;
      margin-top: 15px;
      background: $bg-gold;
      cursor: pointer;
    }
  }
}
@media (max-width: 430px) {
  .add {
    form {
      padding: 10px;

      .add-img-upload label {
        width: 100%;
      }

      .add-product-name,
      .add-product-description {
        width: 100%;
      }

      .add-category-price {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .add-btn {
        width: 100%;
      }
    }
  }
}
