.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  width: 100%;
  .logo {
    width: 110px;
  }

  .profile {
    width: max(5%, 40px);
    border-radius: 50%;
  }
}

@media (max-width: 430px) {
  .header {
    .logo {
      width: 75px;
    }
  }
}
