@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  --toastify-icon-color-info: #d1b464;
  min-height: 100vh;
  color: #ffff;
  background: $bg-darkSilver;
  a {
    border: none;
    color: inherit;
    text-decoration: none;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #d1b464;
  }

  input,
  textarea,
  select,
  a,
  button {
    outline-color: darkgoldenrod;
  }
}

.app-content {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
