$bg-gold: radial-gradient(
    ellipse farthest-corner at right bottom,
    #fedb37 0%,
    #fdb931 8%,
    #9f7928 30%,
    #8a6e2f 40%,
    transparent 80%
  ),
  radial-gradient(
    ellipse farthest-corner at left top,
    #ffffff 0%,
    #ffffac 8%,
    #d1b464 25%,
    #5d4a1f 62.5%,
    #5d4a1f 100%
  );

$bg-silver:radial-gradient(
  ellipse farthest-corner at right bottom,
  rgba(192, 192, 192) 0%,
  rgba(169, 169, 169) 8%,
  rgba(128, 128, 128) 30%,
  rgba(105, 105, 105) 40%,
  rgba(0, 0, 0, 0) 80%
),
radial-gradient(
  ellipse farthest-corner at left top,
  rgba(245, 245, 245) 0%,
  rgba(211, 211, 211) 8%,
  rgba(169, 169, 169) 25%,
  rgba(105, 105, 105) 62.5%,
  rgba(105, 105, 105) 100%
),
radial-gradient(
  ellipse farthest-corner at right bottom,
  rgba(255, 215, 0, 0.2) 0%,
  rgba(218, 165, 32, 0.2) 50%,
  rgba(184, 134, 11, 0.2) 100%
);

$bg-darkSilver: radial-gradient(
    ellipse farthest-corner at right bottom,
    #333333 0%,
    #262626 8%,
    #1a1a1a 30%,
    #0d0d0d 40%,
    transparent 80%
  ),
  radial-gradient(
    ellipse farthest-corner at left top,
    #696969 0%,
    #656565 8.5%,
    #4e4e4e 37.5%,
    #2c2c2c 100%
  );

  $bg-silver-opacity:radial-gradient(
          ellipse farthest-corner at right bottom,
          rgba(192, 192, 192, 0.5) 0%,
          rgba(169, 169, 169, 0.5) 8%,
          rgba(128, 128, 128, 0.5) 30%,
          rgba(105, 105, 105, 0.5) 40%,
          rgba(0, 0, 0, 0) 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          rgba(245, 245, 245, 0.5) 0%,
          rgba(211, 211, 211, 0.5) 8%,
          rgba(169, 169, 169, 0.5) 25%,
          rgba(105, 105, 105, 0.5) 62.5%,
          rgba(105, 105, 105, 0.5) 100%
        ),
        radial-gradient(
          ellipse farthest-corner at right bottom,
          rgba(255, 215, 0, 0.2) 0%,
          rgba(218, 165, 32, 0.2) 50%,
          rgba(184, 134, 11, 0.2) 100%
        );